@ link             :#666；
@ link-hover       :darken(@link, 10%);
@ background-default:black;
@ background-personal: blue;
@ white-translucent: rgba(256,256,256,0.81);
@ black-translucent: rgba(0,0,0,0.81);
a,{
  color: @link;
}
a:hover{
  color:@ link-hover;
}

.description{
display: block;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
margin : 150px;
color: white;
text-align: center;
font-weight:normal;
max-width: inherit;
font-size: 60px;
padding: 50px;
border-radius:25px;
}
